.breedCrumb {
  background: #f2f3f4;
  &__flow {
    height: 105px;
    display: flex;
    align-items: center;
    @include max(767px) {
      flex-direction: column;
      justify-content: center;
    }
    li {
      margin-right: 15px;
      @include max(991px) {
        display: none;
      }
      @include max(767px) {
        text-align: center;
      }

      &:nth-child(1),
      &:nth-last-child(1) {
        display: block;
      }

      &:nth-last-child(1) {
        margin-right: 0px;
      }

      a {
        color: #0089ff;
        font-size: 15px;
        line-height: 24px;
        @include max(767px) {
          text-align: center;
        }
        &.active {
          color: #0a2240;
        }
      }
    }
  }
}
