.categories {
	margin-top: 24px;
	padding: 60px 0px;
	background-color: #fff;
	.categories-card {
		margin-bottom: 24px;
	}
}

.contributors-content {
	padding: 60px 0px;
	&-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 24px;
		a {
			color: #0089ff;
			font-size: 14px;
			line-height: 21px;
			text-transform: capitalize;
			span {
				display: inline-block;
			}
		}
	}

	.c-card {
		margin-bottom: 24px;
	}
}
