.content-navigation {
	position: relative;
	overflow: hidden;
	padding: 0.5rem 1rem;
	background: linear-gradient(180deg, #1463a3 0%, #0033a1 60%);
	transition: all 0.3s linear;
	z-index: 999;
	@include max(767px) {
		padding: 12px 0px;
	}
	&.fixed {
		top: 0;
		position: fixed;
		width: 100%;
	}

	ul {
		display: flex;
		align-items: center;
		max-width: 100%;
		@include max(991px) {
			overflow: hidden;
			overflow-x: scroll;
		}
		li {
			padding-right: 40px;
			position: relative;
			&:nth-last-child(1) {
				padding-right: 0px;
				&::after {
					display: none;
				}
			}
			&::after {
				content: '';
				position: absolute;
				right: 15px;
				top: 50%;
				width: 1px;
				height: 60%;
				background-color: #fff;
				transform: translateY(-50%);
			}
			a {
				color: #fff;
				font-size: 14px;
				line-height: 28px;
				font-family: BRegular;
				padding: 3px 15px;
                margin: 0 15px;
				border-radius: 8px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: inline-block;
				&.active {
					background-color: rgba(255, 255, 255, 0.129);
				}
			}
		}
	}
}
