.information {
  //   overflow: hidden;
  padding: 50px 0px;
  position: relative;
  background-color: #fff;
  &-data {
    padding: 12px;
    border: 1px solid #979797;
    @include max(991px) {
      margin-bottom: 24px;
    }
    li {
      position: relative;
      padding: 16px 0px;
      border-top: 1px dashed #707070;

      &:hover {
        &::after,
        .information-data--dropdown {
          opacity: 1;
          user-select: all;
          pointer-events: all;
          visibility: visible;
        }
      }

      &::after {
        content: '';
        top: 50%;
        opacity: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        user-select: none;
        position: absolute;
        pointer-events: none;
        left: calc(100% + 12px);
        transform: translateY(-50%);
        background: url('/assets/images/triangle.png') no-repeat;
        @include max(991px) {
          display: none;
        }
      }

      &:nth-child(1) {
        border-top: 0px;
        padding-top: 4px;
      }
      &:nth-last-child(1) {
        padding-bottom: 4px;
      }
      a {
        width: 100%;
        font-size: 12px;
        color: #0089ff;
        line-height: 21px;
        display: inline-block;
        text-transform: capitalize;
      }
    }
    &--dropdown {
      top: -12px;
      z-index: 1;
      opacity: 0;
      padding: 16px;
      font-size: 12px;
      color: #4f637c;
      min-width: 475px;
      line-height: 18px;
      user-select: none;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      left: calc(100% + 40px);
      background-color: #fff;
      border: 1px solid #b34fc5;
      transition: all 0.3s ease-in-out;
      @include max(991px) {
        left: 0px;
        top: 100%;
        min-width: 100%;
      }
    }
  }

  &-modals {
    width: 100%;
    height: 100%;
    position: relative;
    h2 {
      top: 0;
      left: 0;
      width: 100%;
      font-size: 14px;
      color: #4f637c;
      user-select: none;
      line-height: 24px;
      position: absolute;
      padding: 12px 20px;
      pointer-events: none;
      font-family: BMedium;
      text-transform: capitalize;
      background-color: rgba(255, 255, 255, 0.3);
      @include max(575px) {
        display: none;
      }
    }
    &__imgwrapper {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
}


