.g-started {
  overflow: hidden;
  padding: 50px 0px;
  position: relative;
  background-color: #fff;

  &__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
    text-transform: capitalize;
    @include max(767px) {
      margin-bottom: 30px;
    }
  }

  .g-card {
    @include max(767px) {
      margin-bottom: 24px;
    }
  }
}
