.card-box {
	padding: 25px;
	background-color: #fff;
}
.features-card {
	overflow: hidden;
	height: 100%;
	padding: 24px;
	position: relative;
	background-color: #fff;
	transition: all 0.3s linear;
	border: 1px solid #979797;

	.icon {
		margin-top: -8px;
	}

	&:hover {
		box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
		-webkit-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
		-moz-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
	}

	h6 {
		font-size: 16px;
		color: #0a2240;
		line-height: 22px;
		margin-bottom: 25px;
		text-transform: capitalize;
	}
	p {
		font-size: 12px;
		color: #4f637c;
		line-height: 22px;
		margin-bottom: 16px;
	}
	ul {
		li {
			display: flex;
			align-items: center;
			margin-bottom: 0px;
			span {
				width: 8px;
				height: 8px;
				flex-shrink: 0;
				overflow: hidden;
				margin-right: 15px;
				border-radius: 50%;
				display: inline-block;
				background-color: #707070be;
			}
			a {
				font-size: 12px;
				color: #0089ff;
				line-height: 21px;
				text-transform: capitalize;
			}
		}
	}
}

.g-card {
	display: flex;
	align-items: flex-start;
	@include max(575px) {
		flex-direction: column;
	}
	&__image {
		width: 105px;
		height: 105px;
		flex-shrink: 0;
		overflow: hidden;
		margin-right: 18px;
		border-radius: 50%;
		position: relative;
		@include max(575px) {
			margin: 0px;
			margin-bottom: 16px;
		}
		img {
			width: inherit;
			height: inherit;
			object-fit: cover;
		}
	}

	&__info {
		h6 {
			font-size: 16px;
			color: #4f637c;
			line-height: 26px;
			margin-bottom: 12px;
			text-transform: capitalize;
		}

		ul {
			li {
				display: flex;
				span {
					width: 8px;
					height: 8px;
					flex-shrink: 0;
					overflow: hidden;
					margin-right: 15px;
					border-radius: 50%;
					display: inline-block;
					background-color: #707070be;
				}
				p {
					font-size: 14px;
					color: #4f637c;
					line-height: 24px;
					margin-top: -8px;

					a {
						font-size: 12px;
						color: #0089ff;
						line-height: 21px;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

.c-card {
	padding: 24px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
	&:hover {
		.c-card__img-content {
			img {
				transform: scale(1.1);
			}
		}
		.c-card__text-content {
			a {
				span {
					width: 20%;
				}
			}
		}
	}
	&__img-content {
		width: 140px;
		height: 140px;
		margin: 0px auto;
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 12px;
		display: inline-block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: all 0.3s ease-in-out;
		}
	}

	&__text-content {
		// name
		a {
			margin: 0;
			color: #0089ff;
			font-size: 21px;
			line-height: 36px;
			margin-bottom: 8px;
			text-transform: capitalize;
			display: inline-block;
			.label {
				display: block;
				width: 35%;
				margin: 0px auto;
				height: 5px;
				background-color: #ffb822;
				transition: all 0.2s linear;
				&--red {
					background-color: #ff681d;
				}
			}
		}
		// designation
		h6 {
			color: #4f637c;
			font-size: 14px;
			line-height: auto;
			text-transform: capitalize;
		}
		p {
			font-size: 12px;
			line-height: 12px;
			color: #858d9d;
			text-transform: capitalize;
		}
	}
}

.categories-card {
	background-color: #e8e8e8;
	&__head {
		&-top {
			display: flex;
			align-items: flex-end;
			padding: 12px 24px;
			justify-content: space-between;
			.article-content {
				display: flex;
				align-items: center;
				& > div {
					&:first-child {
						margin-right: 12px;
					}

					h2 {
						margin: 0px;
						color: #4f637c;
						font-size: 16px;
						line-height: 22px;
						font-weight: 600;
						text-transform: capitalize;
					}
					a {
						color: #0089ff;
						font-size: 12px;
						line-height: 16px;
						text-transform: capitalize;
					}
				}
			}
			.subscribe {
				a {
					font-size: 12px;
					line-height: 16px;
					text-transform: capitalize;
					color: #0089ff;
				}
			}
		}
	}

	&__accordion {
		margin: 0px;
		button {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			line-height: 21px;
			color: #fff;
			height: 40px;
			padding: 0px 24px;
			text-transform: capitalize;
			background-color: #7d8b9c;

			&.collapsed {
				.icon {
					i {
						transform: rotate(0deg);
					}
				}
			}

			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 48px;
				height: 48px;
				transform: rotate(0deg) skew(-20deg);
				background: rgb(0, 51, 161);
				background: linear-gradient(
					240deg,
					rgba(0, 51, 161, 1) 0%,
					rgba(0, 117, 199, 1) 30%,
					rgba(0, 161, 224, 1) 100%
				);

				i {
					color: #fff;
					transform: skew(0deg) rotate(180deg);
					transition: all 0.4s linear;
				}
			}
		}

		&-body {
			position: relative;
			padding: 12px 24px;
			&::after {
				content: '';
				position: absolute;
				left: 0px;
				top: 100%;
				height: 4px;
				width: 100%;
				background-color: #7d8b9c;
			}
			ul {
				list-style: disc;
				color: #979797;
				margin-left: 12px;
				li {
					span {
						font-size: 12px;
						line-height: 24px;
						color: #4f637c;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

.article-card {
	display: flex;
	align-items: center;
	background-color: #f9f9fa;
	transition: all 0.3s linear;
	@include max(767px) {
		flex-direction: column;
	}
	&:hover {
		background-color: #f2f3f4;
	}
	&__img {
		width: 180px;
		height: 100%;
		flex-shrink: 0;
		margin-right: 12px;
		overflow: hidden;
		@include max(767px) {
			width: 100%;
			height: 160px;
			margin: 0px;
			margin-bottom: 12px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		width: 100%;
		display: flex;
		padding-right: 12px;
		align-items: flex-end;
		justify-content: space-between;
		@include max(767px) {
			flex-direction: column;
			padding: 12px;
			padding-top: 0px;
		}
		span {
			color: #ffb81d;
			font-size: 12px;
			line-height: 22px;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			font-family: BMedium;
			display: inline-block;
			margin-bottom: 6px;
		}
		h2,
		a {
			display: inline-block;
			font-size: 16px;
			line-height: 26px;
			color: #0089ff;
			margin-bottom: 12px;
		}
		.blog-info {
			display: flex;
			align-items: center;
			padding-left: 6px;
			li {
				margin-right: 18px;
				span {
					position: relative;
					color: #4f637c;
					font-size: 11px;
					line-height: 22px;
					text-transform: capitalize;
					margin: 0px;
					&::after {
						content: '';
						position: absolute;
						left: -10px;
						top: 50%;
						transform: translateY(-50%);
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background-color: #ffb81d;
					}
				}
			}
		}
		.blog-action {
			display: flex;
			align-items: center;
			li {
				margin-right: 12px;
				span {
					color: #4f637c;
					display: flex;
					align-items: center;
					font-size: 12px;
					line-height: 46px;
					margin: 0px;
					font-weight: 300;
					img {
						margin-right: 6px;
					}
				}
			}
		}
	}
}
