.card-box {
  padding: 25px;
  background-color: #fff;
}
.features-card {
  overflow: hidden;
  height: 100%;
  padding: 24px;
  position: relative;
  background-color: #fff;
  transition: all 0.3s linear;
  border: 1px solid #979797;

  .icon {
    margin-top: -8px;
  }

  &:hover {
    box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -2px 67px 34px -50px rgba(0, 0, 0, 0.22);
  }

  h6 {
    font-size: 16px;
    color: #0a2240;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  p {
    font-size: 12px;
    color: #4f637c;
    line-height: 22px;
    margin-bottom: 16px;
  }
  ul {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      span {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 50%;
        display: inline-block;
        background-color: #707070be;
      }
      a {
        font-size: 12px;
        color: #0089ff;
        line-height: 21px;
        text-transform: capitalize;
      }
    }
  }
}

.g-card {
  display: flex;
  align-items: flex-start;
  @include max(575px) {
    flex-direction: column;
  }
  &__image {
    width: 105px;
    height: 105px;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 18px;
    border-radius: 50%;
    position: relative;
    @include max(575px) {
      margin: 0px;
      margin-bottom: 16px;
    }
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  &__info {
    h6 {
      font-size: 16px;
      color: #4f637c;
      line-height: 26px;
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    ul {
      li {
        display: flex;
        span {
          width: 8px;
          height: 8px;
          flex-shrink: 0;
          overflow: hidden;
          margin-right: 15px;
          border-radius: 50%;
          display: inline-block;
          background-color: #707070be;
        }
        p {
          font-size: 14px;
          color: #4f637c;
          line-height: 24px;
          margin-top: -8px;

          a {
            font-size: 12px;
            color: #0089ff;
            line-height: 21px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
